name: MLOps CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Lint code
      run: |
        flake8 .

    - name: Run unit tests
      run: |
        pytest

    - name: Train model
      env:
        MLFLOW_TRACKING_URI: file:./mlruns
        MLFLOW_HOME: ./mlruns
      run: |
        python models/save_final_rf_model.py

